language: julia
os:
    - linux
    - osx
julia:
    - 1.0
    - 1.1
    - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
    email: false

after_success:
    # push coverage results to Codecov
    - julia -e 'cd(Pkg.dir("Images")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
